<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">
    <img src="./assets/image/logo.png" class="rounded mx-auto d-block"style="width: 20%;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['home']">หน้าหลัก <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            จัดการ
          </a>
          <div class="dropdown-menu" aria="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['manage-preemption']">จัดการรายการจองคิว</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['manage-parcel']">จัดการพัสดุ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['manage-driver']">จัดการคนขับ</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['summary']">สรุปยอด</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['tracking']">Tracking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['track-status']">ติดตามสถานะ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <i class="fa fa-user-circle-o fa-2x"  aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </nav>
