<div class="mBody">
<p class="text-center">จัดการรายการจองคิว</p>
<div class="container" style="border: 1px soli white;">
<table class="table table-bordered">
    <thead>
      <tr>
        <th class="text center">วันที่จัดการ</th>
        <th class="text center">ชื่อผู้ส่ง</th>
        <th class="text center">เบอร์โทร</th>
        <th class="text center">หมายเลขการจอง</th>
        <th class="text center">สถานะ</th>
        <th class="text center">จัดการ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text center">1</th>
        <td class="text center">dsfsdf</td>
        <td class="text center">1212</td>
        <td class="text center">dfsdds</td>
        <td class="text center">รอดำเนินการ</td>
        <td class="text center"><button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">จัดคิว</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">จัดคิว</h5>
                    <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">วันที่ไปส่งสินค้า:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">จัดเริ่มต้น:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">เลขทะเบียนรถ:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">ปลายทาง:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">ชื่อคนขับ:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">สถานะ:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-dark">ตกลง</button>
                  </div>
                </div>
              </div>
            </div></td>

      </tr>
    </tbody>
  </table>
</div>
</div>