<div class="mBody">
  <p class="text-center">จัดการคนขับรถ</p>
  <div class="float-right btn-add-driver">
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
      data-whatever="@getbootstrap">เพิ่มคนขับรถ</button>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">เพิ่มคนขับ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <form class="form-insertdriver" (ngSubmit)="saveDriver()"> -->
            <div>
              <label for="recipient" class="col-form-label">รหัสคนขับรถ:</label>
              <input type="text" [(ngModel)]="driver_code" class="form-control" id="recipient-name">
            </div>
            <div class="form-insertdriver">
              <label for="message-text" class="col-form-label">เลขทะเบียนรถ:</label>
              <input type="number" [(ngModel)]="vehicle_registration_number" class="form-control" id="recipient-name">
            </div>
            <div class="form-insertdriver">
              <label for="message-text" class="col-form-label">ชื่อคนขับ:</label>
              <input type="text" [(ngModel)]="driver_name" class="form-control" id="recipient-name">
            </div>
            <div class="form-insertdriver">
              <label for="message-text" class="col-form-label">เบอร์โทรศัพท์:</label>
              <input type="number" [(ngModel)]="driver_tel" class="form-control" id="recipient-name">
            </div>
            <div class="form-insertdriver">
              <label for="message-text" class="col-form-label">รุ่นรถ:</label>
              <input type="text" [(ngModel)]="driver_model" class="form-control" id="recipient-name">
            </div>
            <div class="form-insertdriver">
              <label for="message-text" class="col-form-label">ที่อยุ่:</label>
              <input type="text" [(ngModel)]="driver_address" class="form-control" id="recipient-name">
            </div>
          <!-- </form> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" (click)="saveDriver()">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="border: 1px soli white;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">รหัสคนขับรถ</th>
          <th class="text-center">เลขทะเบียนรถ</th>
          <th class="text-center">ชื่อคนขับ</th>
          <th class="text-center">เบอร์โทรศัพท์</th>
          <th class="text-center">รุ่นรถ</th>
          <th class="text-center">ที่อยุ่</th>
          <th class="text-center">จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listDriver ">
          <td class="text-center">{{item.driverCode}}</td>
          <td class="text-center">{{item.vehicleRegistrationNumber}}</td>
          <td class="text-center">{{item.driverName}}</td>
          <td class="text-center">{{item.driverTel}}</td>
          <td class="text-center">{{item.driverModel}}</td>
          <td class="text-center">{{item.driverAddress}}</td>
          <td class="text-center">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#editModal"
              data-whatever="@getbootstrap">แก้ไขคนขับรถ</button>
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">แก้ไขคนขับรถ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">รหัสพนักงานขับรถ:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">เลขทะเบียนรถ:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">ชื่อคนขับ:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">เบอร์โทรศัพท์:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">รุ่นรถ:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">ที่อยู่:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-dark">ตกลง</button>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#delModal">
              ลบคนขับรถ
            </button>
            <!-- Modal -->
            <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="delModalLabel" >คุณต้องการลบคนขับรถหรือไม่</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  data-dismiss="modal">ตกลง</button>
                    <button type="button" class="btn btn-primary">ยกเลิก</button>
                  </div>
                </div>
              </div>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>