<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <div class="text-center">
                        <img src="./assets/image/logo.png" class="rounded mx-auto d-block"style="width: 50%;">
                      </div><br>
                    <google-map width="400" height="200"></google-map>
                    <form class="form-signin" id="div-form" (ngSubmit)="saveSender()">
                        <div class="form-group">
                            <label for="sender_address">ที่อยู่</label>
                            <textarea class="form-control" name="sender_address" [(ngModel)]="sender_address" rows="3"></textarea>
                        </div>
                        <div class="form-label-group">
                            <label for="example-datetime-local-input" class="col-2 col-form-label"></label>
                            <input type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input" name="sender_datetime"
                                   class="form-control" [(ngModel)]="sender_datetime">
                            <label for="sender_datetime"></label>
                            <input type="date" name="sender_datetime" max="3000-12-31" min="1000-01-01" class="form-control" [(ngModel)]="sender_datetime">
                        </div>
                        <div class="form-label-group">
                            <label for="sender_name"></label>
                            <input type="text" name="sender_name" id="sender_name" class="form-control" placeholder="ชื่อผู้ส่ง" [(ngModel)]="sender_name" required autofocus>
                        </div>
                        <div class="form-label-group">
                            <label for="sender_id_passport"></label>
                            <input type="text" name="sender_id_passport" id="sender_id_passport" class="form-control" placeholder="เลขบัตรประชาชน" [(ngModel)]="sender_id_passport" required autofocus>
                        </div>
                        <div class="form-label-group">
                            <label for="sender_tel"></label>
                            <input type="text" name="sender_tel" id="sender_tel" class="form-control" placeholder="เบอร์โทร" [(ngModel)]="sender_tel" required autofocus>
                        </div>
                        <div class="form-label-group">
                            <label for="sender_email"></label>
                            <input type="text" name="sender_email" id="sender_email" class="form-control" placeholder="อีเมล์" [(ngModel)]="sender_email" required autofocus>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                        </div>
                        <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit">ถัดไป</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>