
<div class="mBody">
    <p class="text-center"  >จัดการพัสดุ</p>
    <div  class="container" style="border: 1px soli white;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">ที่อยู่</th>
                    <th class="text-center">วันที่รับพัสดุ</th>
                    <th class="text-center">ชื่อผู้ส่ง</th>
                    <th class="text-center">รูปบัตรประชาชน</th>
                    <th class="text-center">เบอร์โทรศัพท์มือถือ</th>
                    <th class="text-center">อีเมล์</th>
                    <th class="text-center">จัดการ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#editModal"
                            data-whatever="@getbootstrap">จัดการพัสดุ</button>
                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                            aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel" class="button-center">จัดการพัสดุ
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">ที่อยู่:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                              </div>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">ชื่อคนขับ:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">เลขทะเบียน:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">ชื่อผู้รับ:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">วันที่นำเข้า:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">สถานะ:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark">ตกลง</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>