<body>
    <div id="login">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <div class="text-center">
                                <img src="./assets/image/logo.png" class="rounded mx-auto d-block"style="width: 50%;">
                              </div> <br>
                            <!-- <h5 class="card-title text-center"><img src="" class="rounded mx-auto d-block"></h5> -->
                            <form class="form-signin" id="div-form" (ngSubmit)="Loginfunction()">
                                <div class="form-label-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username" class="form-control" placeholder=""
                                        [(ngModel)]="username" required autofocus>
                                </div>
                                <div class="form-label-group">
                                    <label for="password">Password</label>
                                    <input type="text" name="password" id="password" class="form-control" placeholder=""
                                        [(ngModel)]="password" required>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                </div>
                                <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>