
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">WExpress</h5>
                            <form class="form-signin" id="div-form">
                                <div class="form-label-group">
                                    <label for="username"></label>
                                    <input type="text" name="username" id="username" class="form-control" placeholder="ชื่อผู้ส่ง" required autofocus>
                                </div>
                                <div class="form-label-group">
                                    <label for="username"></label>
                                    <input type="text" name="username" id="username" class="form-control" placeholder="เบอร์โทร" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1"></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  placeholder="ที่อยู่ผู้ส่ง" required autofocus ></textarea>
                                  </div>
                                <div class="form-label-group">
                                    <label for="username"></label>
                                    <input type="text" name="username" id="username" class="form-control" placeholder="ธนาคารไทยพานิช เลขที่บช 2702274892" required autofocus>
                                </div><br>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                                  </div>
                                <div class="custom-control custom-checkbox mb-3">
                                </div>
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">ถัดไป</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
