<div class="mBody">
<p class="text-center">สรุปยอด</p>
<div class="container" style="border: 1px soli white;">
  <div class="dropdown">
    <a class="btn btn-secondary float-right dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      สรุปยอด
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">รายวัน</a>
      <a class="dropdown-item" href="#">รายสัปดาห์ </a>
      <a class="dropdown-item" href="#">รายเดือน</a>
    </div>
  </div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">ชื่อคนส่ง</th>
        <th class="text-center">จำนวนพัสดุ</th>
        <th class="text-center">ราต่อชิ้น</th>
        <th class="text-center">รวมทั้งหมด(บาท)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-center">1</th>
        <td class="text-center">dsfsdf</td>
        <td class="text-center">1212</td>
        <td class="text-center">รอดำเนินการ</td>

      </tr>
    </tbody>
  </table>
</div>
</div>